:root {
  --dark-black: #353535;
  --light-black: #535353;
  --white: snow;
  --accent: rgb(160, 93, 226);
  --light-accent: rgb(158, 101, 214);
  --dark-accent: rgb(89, 22, 156);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
}

html {
  font-size: 100%;
}

body {
  /* background-color: #353535; */
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.87),
      rgba(0, 0, 0, 0.87)
    ),
    url("./pattern.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: snow;
  font-family: "Inter", sans-serif;
  text-align: center;
  line-height: 1.5;
  display: grid;
  align-content: center;
}

h1 {
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

button {
  cursor: pointer;
  padding: 0.75rem;
  font-weight: 600;
  text-transform: capitalize;
  background-color: var(--light-black);
  color: var(--white);
  border: none;
  transition: all 0.2s ease;
  border-radius: 3px;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
}

button:hover,
button.active {
  background-color: var(--dark-accent);
}

.btn-cta {
  background-color: var(--accent);
  font-size: 1rem;
  padding: 1rem 1.25rem;
  margin-bottom: 1rem;
}

.btn-cta:hover {
  background-color: var(--white);
  color: var(--accent);
}

.container {
  width: 90%;
  max-width: 350px;
  margin: 2rem auto;
}

.quote__categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.quote__categories button {
  flex-basis: 30%;
}

blockquote {
  margin-bottom: 2rem;
  background-color: var(--dark-black);
  padding: 2rem;
  border-radius: 3px;
}

blockquote p {
  margin-bottom: 0.5rem;
}

cite {
  text-align: right;
  display: block;
  font-size: 0.85rem;
  color: var(--accent);
}

.quote__lines {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quote__line {
  height: 2px;
  flex-basis: 30%;
  background-color: var(--white);
  opacity: 0.7;
}

.quote__icon {
  font-size: 3rem;
  color: var(--light-accent);
}

.error-message {
  opacity: 0;
  color: var(--accent);
  font-weight: 700;
  font-size: 0.85rem;
  transition: opacity 0.2s ease;
}

.show {
  opacity: 1;
}
